<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="RollingFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>logs/yasc.%d{yyyy-MM-dd }.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>.%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>